In [1]:
import pandas as pd

In [2]:
# load data and view 5 random rows
df = pd.read_csv('bank_transactions.csv')
df.sample(5)

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
73349,T73350,C4932573,21/4/89,M,BANGALORE,4145.44,2/8/16,164342,220.00
615709,T615710,C7117250,26/12/86,M,THANE,127207.40,22/8/16,231608,809.20
236014,T236015,C1738790,10/1/80,M,NEW DELHI,8144.03,7/8/16,130636,1414.86
35592,T35593,C2169484,20/11/89,F,MUMBAI,5616.34,30/9/16,144555,189.87
357847,T357848,C6141526,20/8/87,F,HYDERABAD,30735.19,14/8/16,203728,2403.00

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048567 entries, 0 to 1048566
Data columns (total 9 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   TransactionID            1048567 non-null  object
 1   CustomerID               1048567 non-null  object
 2   CustomerDOB              1045170 non-null  object
 3   CustGender               1047467 non-null  object
 4   CustLocation             1048416 non-null  object
 5   CustAccountBalance       1046198 non-null  float64
 6   TransactionDate          1048567 non-null  object
 7   TransactionTime          1048567 non-null  int64
 8   TransactionAmount (INR)  1048567 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 72.0+ MB

In [4]:
import pandas as pd

# Sample 40,000 rows from the DataFrame and save to a new CSV file
pd.read_csv("bank_transactions.csv").sample(n=40000, random_state=42).to_csv("40k_bank_transactions.csv", index=False)

In [5]:
df = pd.read_csv('40k_bank_transactions.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TransactionID            40000 non-null  object
 1   CustomerID               40000 non-null  object
 2   CustomerDOB              39867 non-null  object
 3   CustGender               39956 non-null  object
 4   CustLocation             39997 non-null  object
 5   CustAccountBalance       39901 non-null  float64
 6   TransactionDate          40000 non-null  object
 7   TransactionTime          40000 non-null  int64
 8   TransactionAmount (INR)  40000 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 2.7+ MB